body {
    margin:0;
    box-sizing: border-box;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 40vw;
    /* width:40rem; */
    /* height: 50vh; */
    border:solid 3px black;
    display:flex;
    flex-flow: column;
}

.chess-row {
    width: 100%;
    /* height: 12.5%; */
    /* background-color: gray; */
    display:flex;
    position: relative;  
}

.chess-row:before {
    content: "";
    display: block;
    padding-top:12.5%;
  }

.chess-box {
    width: 12.5%;
    height:100%;
    background-color:pink;
}
.chess-box:before {
    content: "";
    display: block;
    padding-top:100%;
  }

.white{
    background-color:white;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/white-marble.jpg');
    filter:brightness(1.1);
}

.black{
    /* background-color:black; */
    background-position: center;
    background-size: cover;
    /* background-image: url('../../../assets/green-marble.jpg') */
    background-image: url('../../../assets/dark-wood.jpg');
    filter:brightness(1.2);
}

/* Navbar */
.navbar {
    background-color: #ECB22E;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    /* bottom:0; */
    height:60px;
    width:100%;
    z-index:1;
}

.nav-content {
    display: flex;
    align-items: center;

}

.nav-img {
    height: 40px;
    /* border: solid 2px gray; */
    border-radius: 50%;
    background-color: #fff;
}

.nav-title {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
}
