@import url("./colors.css");
/* Basic styling */

nav {
  background-color:var(--primaryShade3);
  /* background-color:var(--foregroundColor); */
  /* padding: 0 15px; */
  width:70%;
}

a {
  text-decoration: none;
}

/* whole nav, and dropdown nav */
.menu,
.submenu {
  list-style-type: none;
}
.submenu{
  padding:0;
}
/* buttons, navigation */
.logo {
  font-size: 16px;
  /* padding: 7.5px 10px 7.5px 0; */
  display: flex;
  align-items: center;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

.dropbtn {
  border: none;
  outline: none;
  font-size: inherit;
  background-color: inherit;
  font-family: inherit;
  text-align: inherit;
  width:inherit;
}

.item a,
.subitem a,
.toggle a,
.dropbtn{
  color:var(--backgroundColor);
}
.item a,
.logo a,
.dropbtn {
  text-transform: uppercase;
  letter-spacing: 2px;
  color:var(--backgroundColor);
}

.item:not(.button) a:hover,
.item a:hover::after,
.dropbtn:hover,
.dropbtn:hover::after {
  background-color: var(--accent2Shade3);
  color: var(--foregroundColor);
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin:0;
  padding: 0;
}

.menu li{
  padding:0;
}

.menu li a,
.dropbtn{
  display: block;
  padding: 15px 20px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */

.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
/* .has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
} */
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: var(--accent2Shade3);
  color: var(--foregroundColor);
  /* outline: none;
  border-color: none; */

}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    width:100%;
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: var(--accent2Shade3);
    color: var(--foregroundColor);
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}
