// @font-face {
//     font-family: 'Pacifico', cursive;
//     // font-weight: regular;
//     src: url('../fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Open Sans', sans-serif;
//     font-weight: regular;
//     src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
// }


body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding:2vh;
    //
    background-image: linear-gradient(to right, 
                                    rgba(198, 255, 221, 0.7),
                                    rgba(251, 215, 134, 0.7), 
                                    rgba(247, 121, 125, 0.7));
    // Margo
    // background-image: linear-gradient(to right,rgba(255, 239, 186,0.5), #ffffff);
    // Honey Dew
    // background-image: linear-gradient(to right, rgba(67, 198, 172,0.5), rgba(248, 255, 174,0.5));
    // Back to earth
    // background-image: linear-gradient(to right,rgba(0, 201, 255,0.5), rgba(146, 254, 157,0.5));
    // backdrop-filter: blur( 4.0px );
    //set background opacity
    // opacity: 0.2; 

    // background-image:radial-gradient(circle,#b43ab3 40%,#427bd5 52%,#37dbff 68%);
    flex-flow:column;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

h1{
    font: 700 6vh/1.2 "Pacifico" , cursive;
    
}

h2 {
    font: 700 5vh/1.2 'Open Sans', sans-serif;
}

h3 {
    font: 700 4vh/1.2 'Open Sans', sans-serif;
}

h4{
    font: 700 3vh/1.2 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    margin-bottom:10px
}
h5, label{
    font: 500 2vh/1.2 'Open Sans', sans-serif;
    margin-bottom: 10px;
}
h6 {
    font: 500 16px/1.2 'Open Sans', sans-serif;
    text-transform: uppercase;
}
 
// .bold-paragraph, 
// .italicized-paragraph 
p, input {
    font: 400 16px 'Open Sans', sans-serif;
    margin-bottom: 0;
}

// .bold-paragraph {
//     font: 500 18px "Pacifico", cursive;
// }

// .italicized-paragraph {
//     font: 400 18px "Pacifico", cursive;
//     font-style: italic;
// }
