//  body initializations
@import 'body';
//  Navbar
@import 'navbar';
// modal
@import 'modal';
// SlideShow
@import 'slideshow';
// AlertModal
@import 'alert_modal';


.chess {
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
}

.players-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    // height: 20vh;
    width: 70vh;
    position: absolute;
    bottom : 2vh;
}

.player-box {
    height: 100%;
    width: 30%;
    text-align: center;
}
#player-1,
#player-2{
    color:rgb(153, 153, 153);
}

.playerTurn {
    position: absolute;
    top:2vh;
}

#gameButton{
    position:absolute;
    top:-5vh;
    right:1vh;
}
#undo,
#restart{
    

    background-color: transparent;
    border: none ;
    cursor: pointer;
    outline: none;

    &.syncRotate{
        transition: 500ms ease all;
        transform: rotate(-360deg);
        // animation: rotation 500ms ease-in-out forwards;
    }
}

.headbar {
    display: flex;
    justify-content: space-between;
    margin:0 15px 15px 15px;
}
// App

#app {
    
    /* width:40rem */
    /* height: 50vh */
    // border: solid 3px black;
    padding:2vh;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 16px 32px 0 rgba(138, 31, 138, 0.37);
    backdrop-filter: blur( 10px );
    border-radius: 3vh;
    border: 3px solid rgba( 255, 255, 255, 0.25);

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    // gap:0.2vw;
    width: 70vh;
    height:70vh;

}

@mixin chessBoxStyles($color, $brightness) {
    background-color: $color;
    background-position: center;
    background-size: cover;
    /* background-image: url('../../../assets/white-marble.jpg') */
    filter: brightness($brightness);
}

.chess-box {
    // width: 12.5%;
    // height: calc(12.5);
    // background-color: pink;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .chess-piece {
        // font-size: 7vh;
        transition: 1s;
        width: 80%;
        height: auto;
    }

    &.selected {
        box-shadow: inset 0 0 30px #311B0B;
    }

    &.possible-move {

        box-shadow: inset 0 0 30px #0f0;
    }

    &.possible-target {

        box-shadow: inset 0 0 30px yellow;

    }
    &.checker {
        box-shadow: inset 0 0 30px blue;
    } 
    
    &.checked-white {
        box-shadow: inset 0 0 30px red;
    }
    &.checked-black {
        box-shadow: inset 0 0 30px red;
    }
    &.castling {
        box-shadow: inset 0 0 30px #0f0;
    }
}

.white {
    // @include chessBoxStyles(#f0d9b5,1.1);
    // background-color: rgba( 245, 243, 243, 0.4 );
    background-position: center;
    background-size: cover;
    color:black;
}

.black {
    @include chessBoxStyles(#b58863, 1.1);
    // color:rgba( 245, 243, 243, 0.4 );
    // background-color:black;
    /* background-image: url('../../../assets/green-marble.jpg') */
    /* background-image: url('../../../assets/dark-wood.jpg') */
    // filter: brightness(1.2);
}
    
   

 @import 'mediaQuery';

.hidden{
    display: none;
}