body {
    margin:0;
    box-sizing: border-box;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 50rem;
    border:solid 3px black;
    /* height: 1em; */
    display:flex;
    flex-flow: column;
}

.chess-row {
    width: 100%;
    /* height: 12.5%; */
    background-color: gray;
    display:flex;
    position: relative;
    /* flex-flow: column; */
    
}

.chess-row:before {
    content: "";
    display: block;
    padding-top:12.5%;
    /* initial ratio of 1:1*/
  }

.chess-box {
    width: 12.5%;
    height:100%;
    background-color:pink;
}
.chess-box:before {
    content: "";
    display: block;
    padding-top:100%;
    /* initial ratio of 1:1*/
  }

.white{
    background-color:white;
}

.black{
    background-color:black;
}

/* Navbar */
.navbar {
    background-color: #ECB22E;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    /* bottom:0; */
    height:60px;
    width:100%;
    z-index:1;
}

.nav-content {
    display: flex;
    align-items: center;

}

.nav-img {
    height: 40px;
    /* border: solid 2px gray; */
    border-radius: 50%;
    background-color: #fff;
}

.nav-title {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
}
