body {
    background-color: #f3f3fa;

    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Slab', serif;
}

.card {
    background-color: #fff;
    border-radius: 2vh;
    padding: 3vh;

    width: 77vh;
    /* height:47vh; */

    /* border-radius: 50px; */
    background: #ffffff;
    box-shadow:  7px 7px 14px #b5adeb,
                 -7px -7px 14px #ffffff;

    position: relative;
    margin-left:3vh;
    margin-right:3vh;
}

#options div{
    margin-bottom: 3vh;
    font-family: 'Montserrat', sans-serif;
} 

input[type="button"] {
    all: unset;
    text-align: center;
    background-color: #003cff;
    opacity: 0.7;
    color:#fff;

    height:6vh;
    width:30%;
    /* padding:1vh 2vh 1vh 2vh; */
    border-radius:0.5vh;
    cursor: pointer;
}

input[type="button"]:active {
    background-color: #fff;
    color: #003cff;
    border: #003cff solid 0.2vh;
    height:5.6vh;
}

h1 {
    color:maroon;
    font: 600 48px/1.2 'Roboto Slab', serif;
    /* margin-top: 0; */
}
h2{
    font: 400 32px/1.2 'Roboto Slab', serif;
}

#exit, #newGame {
    all: unset;
    font-size: 1vh;
    min-height: 3vh;
    min-width: 3vh;
    text-align: center;

    border-radius: 50%;
    background-color: #c51919; 
    opacity: 0.7;
    color:#fff;

    position: absolute;
    top:2vh;
    right: 2vh;
    
    cursor: pointer;
}

#newGame {
    font-size: 2vh;
    border-radius:0.5vh;
    position: relative;
    top:0;
    right: 0;
    
    padding:2vh;
}

#exit:active ,#newGame:active {
    background-color: #fff; 
    color:#c51919;
    border: #c51919 solid 1px;
  /* outline: rgb(105, 6, 6) 5px auto; */
}

#msgContainer{
    position:absolute;
    top: 10vh;
    left:50vw - 77vh;
    width: 77vw;
}

.alert-primary{
    color: #084298;
    background-color: #cfe2ff;
    border: 1px solid #b6d4fe;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
}
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5vh;
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
}

#exitPage {
    position: absolute;
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-flow:column;

}
#exitMessage {
    margin-left:3vw;
    margin-right:3vw;
}
.card-bottom {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#scoreH1 {
    margin:0;
    font-size: 4vh;
    /* display:table-cell;  */
    /* vertical-align:middle; */
}